p {
  font-size:24px;
}

a {
  color:#72cff7;
  text-decoration:underline;
}

.page_break {
  break-before:page;
}

.font-1 {
  font-family:sans-serif;
}

.font-2 {
  font-family: "Comic Neue";
}

.left {
  text-align:left;
}

p.center {
  text-align:center;
}

img.center {
  display:block;
  margin:auto;
}

.right {
  text-align:right;
}

.small {
  font-size:18px;
}