p {
  font-size:24px;
}

.page_break {
  break-before:page;
}

.font-1 {
  font-family:sans-serif;
}

.font-2 {
  font-family: "Comic Neue";
}

.left {
  text-align:left;
}

.center {
  text-align:center;
}

.right {
  text-align:right;
}