* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0;
}

:root {
  --color:#222;
}

html {
  height:100%;
  background-color:#e6e6e6;
  /* scrollbar-color:#c8c8c8 #dedede; */
  scrollbar-color:#60606060 #00000000;
  scrollbar-width:2px;
}

body {
  background-color:#e6e6e6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  line-height:1.6;
  color:var(--color);
  min-height:100%;
  margin:1rem;
}

h1 {
  text-align:center;
}

main {
  width:400px;
}

main p {
  font-size:12px;
  text-align:left;
}

footer p {
  font-size:12px;
  color:#888;
}

a {
  color:#666;
}

a:hover {
  color:#444;
}

ruby {
  font-weight:400;
  font-size:18px;
}

rt {
  font-size:16px;
  color:#888;
  margin-bottom:4px;
}

button {
  font-size:14px;
  padding:6px 12px;
  color:#222;
  border-radius:50px;
  background-color:var(--button-bg);
}

button:hover {
  cursor:pointer;
  background-color:var(--button-bg-hover);
}

#confetti-ball {
  width:28px;
  height:auto;
}

#wrapper {
  flex-direction:column;
  display:flex;
  text-align:center;
  align-items:center;
  gap:32px;
}

#editor {
  height:150px;
  margin-bottom:8px;
}

#upload_csv {
  --button-bg:#ef9b00;
  --button-bg-hover:#ed8400;
}

#upload_svgs {
  --button-bg:#e4ab1b;
  --button-bg-hover:#e29f00;
}

#font {
  --button-bg:#37cbe8;
  --button-bg-hover:#35c5d1;
}

#print {
  --button-bg:#9146dc;
  --button-bg-hover:#9035c0;
  color:white;
}

#error {
  color:#ff4586;
}

.kell-content {
  font-size:12px;
}